<nav class="navbar navbar-expand-sm navbar-dark bg-dark" style="height: 45px;">
  <a class="navbar-brand" routerLink="">RecJob</a>

  <div class="collapse navbar-collapse" id="navbarColor02">
    <ul class="navbar-nav mr-auto" *ngIf="isAuth" style="margin: auto; height: 35px;">
      <li class="nav-item" style="margin: auto; width: 300px; height: 100%;">
        <div class="my-nav-link center">{{ isSearch ? 'Jobs Search Page' : 'Candidates Search Page' }}</div>
      </li>
      <!-- <li class="nav-item">
        <a class="nav-link" href="#">Features</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Pricing</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">About</a>
      </li> -->
    </ul>
    <form class="form-inline my-2 my-lg-0 mr-3" *ngIf="isAuth">

        <button type="button" class="btn btn-outline-warning mr-3 btn-sm" (click)="onPageChanged('candidates')" *ngIf="isSearch && isAuth">Go To Candidates</button>

        <button type="button" class="btn btn-outline-success mr-3 btn-sm" (click)="onPageChanged('search')" *ngIf="!isSearch && isAuth">Go To Jobs</button>

        <button type="button" class="btn btn-outline-danger btn-sm" (click)="logout()" *ngIf="isAuth">Logout</button>
    </form>
  </div>
</nav>
