.navbar.bg-dark {
  background-color: #060606 !important;
  border: 1px solid #060606 !important;
}

.navbar.bg-light {
  background-color: #ededed !important;
  border: 1px solid #ededed !important;
}

.my-nav-link{
  margin: auto;
  width: 100%;
  height: 100%;
  font-size: 20pt;
  text-align: center;
}
