<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" routerLink="">RecJob</a>

  <div class="collapse navbar-collapse" id="navbarColor02">
    <ul class="navbar-nav mr-auto" *ngIf="isAuth">
      <!-- <li class="nav-item">
        <a class="nav-link" href="#">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Features</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Pricing</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">About</a>
      </li> -->
    </ul>
    <form class="form-inline my-2 my-lg-0 mr-3" *ngIf="isAuth">

        <button type="button" class="btn btn-outline-warning mr-3" (click)="onPageChanged('candidates')" *ngIf="isSearch && isAuth">Candidates</button>

        <button type="button" class="btn btn-outline-success mr-3" (click)="onPageChanged('search')" *ngIf="!isSearch && isAuth">Jobs Search</button>

        <button type="button" class="btn btn-outline-danger" (click)="logout()" *ngIf="isAuth">Logout</button>
    </form>
  </div>
</nav>
