<div class="container-fluid center">
  <div class="row center">
    <div class="col-md-10" style="display: flex;">
      <form [formGroup]="searchForm" (submit)="search()" class="center mt-2" style="margin: auto; width: 800px;">
        <div class="form-group has-success  has-danger" style="display: flex;">
          <div style="margin: auto; width: 800px;">
            <input type="text" class="form-control" placeholder="Search by CandidateID, Name, Email, Phone, JobID"
              formControlName="search" (ngModelChange)="search()" [ngClass]="
              searchForm.get('search').errors &&
              searchForm.get('search').touched ?
              'is-invalid' : searchForm.get('search').valid ? 'is-valid' : ''
            ">
            <div class="invalid-feedback">You can use multiple search seperated by comma, for example: CandidateId, Name, Email, ...
            </div>
          </div>
          <button type="submit" class="btn btn-outline-primary ml-2" style="max-height: 40px;">Search</button>
        </div>
      </form>
    </div>
    <div class="col-md-2">
        <a class="nav-link">
          <button type="button" class="btn btn-outline-info" (click)="newCandidate()">New Candidate</button>
        </a>
    </div>
  </div>
  <div class="row center">
    <ag-grid-angular #agGrid style="width: 99%; height: 500px; margin: auto;" class="ag-theme-alpine"
      [rowData]="rowData2" [columnDefs]="columnDefs3" rowSelection="multiple" (gridReady)="onGridReady($event)"
      [suppressHorizontalScroll]=false
      [enableSorting]="true"
      [enableRangeSelection]="true"
      [pagination]="true"
      [paginationPageSize]="25">
    </ag-grid-angular>
  </div>
  <div class="row center">
    <button type="button" class="btn btn-outline-warning mt-2" (click)="editCandidate()">Edit Candidate</button>
    <button type="button" class="btn btn-outline-danger mt-2 ml-2" (click)="deleteCandidate()">Delete Candidate</button>
  </div>
  <hr>

  <div class="modal fade bd-example-modal-lg mt-5" id="newCandidate" tabindex="-1" role="dialog"
    aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="row">
          <div class="col-md-12">
            <form [formGroup]="newCandidateForm" (submit)="onNewCandidate()" class="center"
            style="margin: auto; width: 400px; padding: 20px;">
              <div class="form-group has-success has-danger">
                <input  type="text" class="form-control" disabled placeholder="Candidate ID" formControlName="_id" [ngClass]="
                !editJobMode ? 'hideId' : ''">
              </div>

              <div class="form-group has-success has-danger">
                <input type="text" class="form-control" placeholder="Full Name"
                  formControlName="fullName" [ngClass]="
                newCandidateForm.get('fullName').errors &&
                newCandidateForm.get('fullName').touched ?
                'is-invalid' : newCandidateForm.get('fullName').valid ? 'is-valid' : ''
              ">
                <div class="invalid-feedback">Sorry, name is required</div>
              </div>

              <div class="form-group has-success has-danger">
                <input type="text" class="form-control" placeholder="Email"
                  formControlName="email" [ngClass]="
                newCandidateForm.get('email').errors &&
                newCandidateForm.get('email').touched ?
                'is-invalid' : newCandidateForm.get('email').valid ? 'is-valid' : ''
              ">
                <div class="invalid-feedback">Sorry, email is required</div>
              </div>

              <div class="form-group has-success has-danger">
                <input type="text" class="form-control" placeholder="Phone"
                  formControlName="phone" [ngClass]="
                newCandidateForm.get('phone').errors &&
                newCandidateForm.get('phone').touched ?
                'is-invalid' : newCandidateForm.get('phone').valid ? 'is-valid' : ''
              ">
                <div class="invalid-feedback">Sorry, phone is required</div>
              </div>
              <form [formGroup]="uploadImgForm" (submit)="onNewCandidate()" class="center">
                <div *ngIf="editJobMode">
                  <a class="btn btn-outline-success" href="{{prev.url}}" target="_blank" type="button" [ngClass]="prev.url==='null'? 'disabledResume' : ''">View Current Resume</a>
                </div>
                <div>
                  <button class="btn btn-outline-primary" type="button" (click)="filePicker2.click()">Pick New Resume</button>
                  <input id="postFile" type="file" #filePicker2 (change)="onResumePicked($event)" accept=".pdf,.doc,.docx">
                </div>
              </form>
              <br>
              <button mat-raised-button class="btn btn-outline-success" type="submit">{{ editJobMode ? 'Edit' : 'Save' }}</button>
              <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Cancel</button>
            </form>
            </div>
          </div>
      </div>
    </div>
  </div>

  <div class="modal fade bd-example-modal-xl mt-5" id="viewJobs" tabindex="-1" role="dialog"
    aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <form class="center mt-4"
          style="margin: auto; width: 95%; padding: 2px;">
          <div class="form-group">
            <ag-grid-angular #agGrid2 style="width: 99%; height: 300px; margin: auto;" class="ag-theme-alpine"
              [rowData]="rowData3" [columnDefs]="columnDefs" rowSelection="multiple"
              (gridReady)="onGridReady2($event)">
            </ag-grid-angular>
          </div>
          <br>
          <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Close</button>
        </form>
      </div>
    </div>
  </div>

  <div class="modal fade bd-example-modal-xl mt-5" id="viewCandidateDetails" tabindex="-1" role="dialog"
    aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <form class="center mt-4"
          style="margin: auto; width: 95%; padding: 2px;">
          <div class="card border-warning mb-3" style="width: 100%;">
            <div class="card-header"><strong>Candidate ID: {{ toViewCandidate._id }} </strong></div>
            <div class="card-body">
              <h4 class="card-title">{{ toViewCandidate.fullName }}</h4>
              <h5>Email: {{ toViewCandidate.email }}</h5><br>
              <div class="row">
                <div class="col-md-8">
                  <h6>Phone: {{ toViewCandidate.phone }}</h6><br>
                  <h6>Submissions: {{ toViewCandiateJobs.length }}</h6>
                </div>
                <div class="col-md-2 center">
                  <div class="center"><a href="{{ toViewCandidate.url }}" target="_blank" class="btn btn-info" style="margin: auto; text-align: center" data-toggle="tooltip" data-placement="auto" title="View Resume" [ngClass]="toViewCandidate.url==='null'? 'disabledResume' : ''">Resume</a></div>
                </div>
              </div>
              <table class="table table-hover">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Title</th>
                    <th scope="col">Status</th>
                    <th scope="col">Updated At</th>
                    <th scope="col">Manager</th>
                    <th scope="col">Created By</th>
                    <th scope="col">Created At</th>
                  </tr>
                </thead>
                <tbody>
                  <tr class="table-active" *ngFor="let job of toViewCandiateJobs">
                    <td>{{ job.id }}</td>
                    <td>{{ job.title }}</td>
                    <td>{{ job.status }}</td>
                    <td>{{ job.updatedAt }}</td>
                    <td>{{ job.manager }}</td>
                    <td>{{ job.createdBy }}</td>
                    <td>{{ job.createdAt }}</td>
                  </tr>
                  </tbody>
              </table>
              <p class="card-text">
              </p>
            </div>
          </div>
          <hr>
          <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Close</button>
        </form>
      </div>
    </div>
  </div>








</div>

