<div class="container-fluid center">
  <div class="row center">
    <div class="col-md-10" style="display: flex;">
      <form [formGroup]="searchForm" (submit)="search()" class="center mt-2" style="margin: auto; width: 800px;">
        <div class="form-group has-success  has-danger" style="display: flex;">
          <div style="margin: auto; width: 800px;">
            <input type="text" class="form-control" placeholder="Search by CandidateID, Name, Email, Phone, JobID"
              formControlName="search" (ngModelChange)="search()" [ngClass]="
              searchForm.get('search').errors &&
              searchForm.get('search').touched ?
              'is-invalid' : searchForm.get('search').valid ? 'is-valid' : ''
            ">
            <div class="invalid-feedback">Sorry, please enter a search query</div>
            <div class="invalid-feedback">You can use multiple search seperated by comma, for example: CandidateId, Name, Email, ...
            </div>
          </div>
          <button type="submit" class="btn btn-outline-primary ml-2" style="max-height: 40px;">Search</button>
        </div>
      </form>
    </div>
    <div class="col-md-2">
        <a class="nav-link">
          <button type="button" class="btn btn-outline-info" (click)="newCandidate()">New Candidate</button>
        </a>
    </div>
  </div>
  <div class="row center">
    <ag-grid-angular #agGrid style="width: 99%; height: 500px; margin: auto;" class="ag-theme-alpine"
      [rowData]="rowData2" [columnDefs]="columnDefs3" rowSelection="multiple" (gridReady)="onGridReady($event)">
    </ag-grid-angular>
  </div>
  <div class="row center">
    <button type="button" class="btn btn-outline-warning mt-2" (click)="editCandidate()">Edit Candidate</button>
    <button type="button" class="btn btn-outline-danger mt-2 ml-2" (click)="deleteCandidate()">Delete Candidate</button>
  </div>
  <hr>

  <!-- <div class="modal fade bd-example-modal-lg mt-5" id="viewCandidate" tabindex="-1" role="dialog"
    aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <form class="center mt-4"
          style="margin: auto; width: 95%; padding: 2px;">
          <div class="form-group">
            <ag-grid-angular #agGrid2 style="width: 99%; height: 300px; margin: auto;" class="ag-theme-alpine"
              [rowData]="rowData2" [columnDefs]="columnDefs3" rowSelection="multiple"
              (gridReady)="onGridReady2($event)">
            </ag-grid-angular>
          </div>
          <br>
          <button mat-raised-button class="btn btn-outline-success" type="submit">{{ editJobMode ? 'Edit' : 'Save' }}</button>
          <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Close</button>
        </form>
      </div>
    </div>
  </div> -->

  <div class="modal fade bd-example-modal-lg mt-5" id="newCandidate" tabindex="-1" role="dialog"
    aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <form [formGroup]="newCandidateForm" (submit)="onNewCandidate()" class="center"
          style="margin: auto; width: 400px; padding: 20px;">
          <div class="form-group has-success has-danger">
            <input type="text" class="form-control" placeholder="Candidate ID" formControlName="id" [ngClass]="
            (newCandidateForm.get('id').errors &&
            newCandidateForm.get('id').touched) ||
            (newCandidateForm.get('id').touched &&
            newCandidateForm.hasError('exists')) ?
            'is-invalid' : newCandidateForm.get('id').valid && !newCandidateForm.hasError('exists') ? 'is-valid' : ''
          ">
            <div class="valid-feedback">Success! valid ID</div>
            <div class="invalid-feedback">Sorry, this ID is already been taken!</div>
          </div>

          <div class="form-group has-success has-danger">
            <input type="text" class="form-control" placeholder="Full Name"
              formControlName="fullName" [ngClass]="
            newCandidateForm.get('fullName').errors &&
            newCandidateForm.get('fullName').touched ?
            'is-invalid' : newCandidateForm.get('fullName').valid ? 'is-valid' : ''
          ">
            <div class="invalid-feedback">Sorry, name is required</div>
          </div>

          <div class="form-group has-success has-danger">
            <input type="text" class="form-control" placeholder="Email"
              formControlName="email" [ngClass]="
            newCandidateForm.get('email').errors &&
            newCandidateForm.get('email').touched ?
            'is-invalid' : newCandidateForm.get('email').valid ? 'is-valid' : ''
          ">
            <div class="invalid-feedback">Sorry, email is required</div>
          </div>

          <div class="form-group has-success has-danger">
            <input type="text" class="form-control" placeholder="Phone"
              formControlName="phone" [ngClass]="
            newCandidateForm.get('phone').errors &&
            newCandidateForm.get('phone').touched ?
            'is-invalid' : newCandidateForm.get('phone').valid ? 'is-valid' : ''
          ">
            <div class="invalid-feedback">Sorry, phone is required</div>
          </div>
          <br>
          <button mat-raised-button class="btn btn-outline-success" type="submit">{{ editJobMode ? 'Edit' : 'Save' }}</button>
          <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Cancel</button>
        </form>
      </div>
    </div>
  </div>


  <div class="modal fade bd-example-modal-xl mt-5" id="viewJobs" tabindex="-1" role="dialog"
    aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <form class="center mt-4"
          style="margin: auto; width: 95%; padding: 2px;">
          <div class="form-group">
            <ag-grid-angular #agGrid2 style="width: 99%; height: 300px; margin: auto;" class="ag-theme-alpine"
              [rowData]="rowData3" [columnDefs]="columnDefs" rowSelection="multiple"
              (gridReady)="onGridReady2($event)">
            </ag-grid-angular>
          </div>
          <br>
          <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Close</button>
        </form>
      </div>
    </div>
  </div>

  <!-- <form [formGroup]="uploadImgForm" (submit)="onUploadImg()" class="center">
    <div>
      <button class="btn btn-primary" type="button" (click)="filePicker2.click()">Pick Image</button>
      <input id="postFile" type="file" #filePicker2 (change)="onImagePicked2($event)" accept=".pdf,.doc,.docx">
    </div>
    <button class="btn btn-primary" type="submit" [disabled]="!uploadImgForm.valid">Upload</button>
  </form> -->


<!--
  <div class="navbar navbar-default">
    <div class="navbar-header">
        <a class="navbar-brand" href>Angular2 File Upload</a>
    </div>
</div>

<div class="row">

    <div class="col-md-3">

        <h3>Select files</h3>

        <div ng2FileDrop
             [ngClass]="{'nv-file-over': hasBaseDropZoneOver}"
             (fileOver)="fileOverBase($event)"
             [uploader]="uploader"
             class="well my-drop-zone">
            Base drop zone
        </div>

        Multiple
        <input type="file" ng2FileSelect [uploader]="uploader" multiple  /><br/>

        Single
        <input type="file" ng2FileSelect [uploader]="uploader" />
    </div>

    <div class="col-md-9" style="margin-bottom: 40px">

        <h3>Upload queue</h3>
        <p>Queue length: {{ uploader?.queue?.length }}</p>

        <table class="table">
            <thead>
            <tr>
                <th width="50%">Name</th>
                <th>Size</th>
                <th>Progress</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let item of uploader.queue">
                <td><strong>{{ item?.file?.name }}</strong></td>
                <td *ngIf="uploader.options.isHTML5" nowrap>{{ item?.file?.size/1024/1024 | number:'.2' }} MB</td>
                <td *ngIf="uploader.options.isHTML5">
                    <div class="progress" style="margin-bottom: 0;">
                        <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': item.progress + '%' }"></div>
                    </div>
                </td>
                <td class="text-center">
                    <span *ngIf="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
                    <span *ngIf="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
                    <span *ngIf="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
                </td>
                <td nowrap>
                    <button type="button" class="btn btn-success btn-xs"
                            (click)="item.upload()" [disabled]="item.isReady || item.isUploading || item.isSuccess">
                        <span class="glyphicon glyphicon-upload"></span> Upload
                    </button>
                    <button type="button" class="btn btn-warning btn-xs"
                            (click)="item.cancel()" [disabled]="!item.isUploading">
                        <span class="glyphicon glyphicon-ban-circle"></span> Cancel
                    </button>
                    <button type="button" class="btn btn-danger btn-xs"
                            (click)="item.remove()">
                        <span class="glyphicon glyphicon-trash"></span> Remove
                    </button>
                </td>
            </tr>
            </tbody>
        </table>

        <div>
            <div>
                Queue progress:
                <div class="progress" style="">
                    <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': uploader.progress + '%' }"></div>
                </div>
            </div>
            <button type="button" class="btn btn-success btn-s"
                    (click)="uploader.uploadAll()" [disabled]="!uploader.getNotUploadedItems().length">
                <span class="glyphicon glyphicon-upload"></span> Upload all
            </button>
            <button type="button" class="btn btn-warning btn-s"
                    (click)="uploader.cancelAll()" [disabled]="!uploader.isUploading">
                <span class="glyphicon glyphicon-ban-circle"></span> Cancel all
            </button>
            <button type="button" class="btn btn-danger btn-s"
                    (click)="uploader.clearQueue()" [disabled]="!uploader.queue.length">
                <span class="glyphicon glyphicon-trash"></span> Remove all
            </button>
        </div>

    </div>

</div>

<br><br>

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">Response</div>
            <div class="panel-body">
              {{ response }}
            </div>
        </div>
    </div>
</div>

 -->












</div>

