<div class="container-fluid center">
  <div class="row center">
    <div class="col-md-10" style="display: flex;">
      <form [formGroup]="searchForm" (submit)="search()" class="center mt-2" style="margin: auto; width: 800px;">
        <div class="form-group has-success  has-danger" style="display: flex;">
          <div style="margin: auto; width: 800px;">
            <input type="text" class="form-control" placeholder="Search by keyword, JobID, JobTitle, Manager, Team, Status or Date"
              formControlName="search" (ngModelChange)="search()" [ngClass]="
              searchForm.get('search').errors &&
              searchForm.get('search').touched ?
              'is-invalid' : searchForm.get('search').valid ? 'is-valid' : ''
            ">
            <div class="invalid-feedback">You can use multiple search seperated by comma, for example: JobTitle, Manager, Status, ...
            </div>
          </div>
          <button type="submit" class="btn btn-outline-primary ml-2" style="max-height: 40px;">Search</button>
        </div>
      </form>
    </div>
    <div class="col-md-2">
      <form class="form-inline my-2 my-lg-0">
        <a class="nav-link">
          <button type="button" class="btn btn-outline-info" (click)="newJob()">New Job</button>
        </a>
      </form>
    </div>
  </div>
  <div class="row center">
    <ag-grid-angular #agGrid style="width: 99%; height: 500px; margin: auto;" class="ag-theme-alpine"
      [rowData]="rowData" [columnDefs]="columnDefs" rowSelection="multiple" (gridReady)="onGridReady($event)"
      [suppressHorizontalScroll]=false
      [enableSorting]="true"
      [enableRangeSelection]="true"
      [pagination]="true"
      [paginationPageSize]="25"
      (onGridSizeChanged)="sizeGrid($event)">
    </ag-grid-angular>
  </div>
  <div class="row center">
    <button type="button" class="btn btn-outline-warning mt-2" (click)="editJob()">Edit Job</button>
    <button type="button" class="btn btn-outline-danger mt-2 ml-2" (click)="deleteJob()">Delete Job</button>
    <button type="button" class="btn btn-outline-danger mt-2" style="margin: auto;" (click)="addSubmission()">Add
      Submissions</button>
  </div>
  <hr>

  <div class="modal fade bd-example-modal-xl mt-5" id="newJob" tabindex="-1" role="dialog"
    aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <form [formGroup]="newJobForm" (submit)="onNewJob()" class="center"
          style="margin: auto; width: 100%; padding: 20px;">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group has-success has-danger">
                <input type="text" class="form-control" placeholder="Job ID" formControlName="id" [ngClass]="
                (newJobForm.get('id').errors &&
                newJobForm.get('id').touched) ||
                (newJobForm.get('id').touched &&
                newJobForm.hasError('exists')) ?
                'is-invalid' : newJobForm.get('id').valid && !newJobForm.hasError('exists') ? 'is-valid' : ''
              ">
                <div class="valid-feedback">Success! valid ID</div>
                <div class="invalid-feedback">Sorry, this ID is already been taken!</div>
              </div>

              <div class="form-group has-success has-danger">
                <input type="text" class="form-control" placeholder="Job Title"
                  formControlName="title" [ngClass]="
                newJobForm.get('title').errors &&
                newJobForm.get('title').touched ?
                'is-invalid' : newJobForm.get('title').valid ? 'is-valid' : ''
              ">
                <div class="invalid-feedback">Sorry, title is required</div>
              </div>

              <div class="form-group has-success has-danger">
                <input type="text" class="form-control" placeholder="Team"
                  formControlName="team" [ngClass]="
                newJobForm.get('team').errors &&
                newJobForm.get('team').touched ?
                'is-invalid' : newJobForm.get('team').valid ? 'is-valid' : ''
              ">
                <div class="invalid-feedback">Sorry, team is required</div>
              </div>

              <div class="form-group has-success has-danger">
                <input type="number" class="form-control" placeholder="# of Positions"
                  formControlName="positions" [ngClass]="
                newJobForm.get('positions').errors &&
                newJobForm.get('positions').touched ?
                'is-invalid' : newJobForm.get('positions').valid ? 'is-valid' : ''
              ">
                <div class="invalid-feedback">Sorry, number of positions is required</div>
              </div>

              <div class="form-group">
                <label for="Select1" style="color: aliceblue;">Job Status</label>
                <select class="form-control" id="Select1" formControlName="status" [ngClass]="
              newJobForm.get('status').errors &&
              newJobForm.get('status').touched ?
              'is-invalid' : ''
            ">
                  <option>Active</option>
                  <option>Processing</option>
                  <option>Closed</option>
                </select>
                <div class="invalid-feedback">Please select a status</div>
              </div>

              <div class="form-group has-success has-danger">
                <input type="text" class="form-control" placeholder="Manager"
                  formControlName="manager" [ngClass]="
                newJobForm.get('manager').errors &&
                newJobForm.get('manager').touched ?
                'is-invalid' : newJobForm.get('manager').valid ? 'is-valid' : ''
              ">
                <div class="invalid-feedback">Sorry, number of manager is required</div>
              </div>

              <div class="form-group has-success has-danger">
                <input type="text" class="form-control" placeholder="Created By"
                  formControlName="createdBy" [ngClass]="
                newJobForm.get('createdBy').errors &&
                newJobForm.get('createdBy').touched ?
                'is-invalid' : newJobForm.get('createdBy').valid ? 'is-valid' : ''
              ">
                <div class="invalid-feedback">Sorry, number of Created By is required</div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group has-success has-danger">
                <textarea rows="12" class="form-control" placeholder="Description"
                  formControlName="description" [ngClass]="
                newJobForm.get('description').errors &&
                newJobForm.get('description').touched ?
                'is-invalid' : newJobForm.get('description').valid ? 'is-valid' : ''
              "></textarea>
                <div class="invalid-feedback">Sorry, description is required</div>
              </div>
            </div>
          </div>
          <hr>
          <button mat-raised-button class="btn btn-outline-success" type="submit">{{ editJobMode ? 'Edit' : 'Save' }}</button>
          <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Cancel</button>
        </form>
      </div>
    </div>
  </div>

  <div class="modal fade bd-example-modal-xl mt-5" id="viewCandidate" tabindex="-1" role="dialog"
    aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <form class="center mt-4"
          style="margin: auto; width: 95%; padding: 2px;">
          <div class="form-group">
            <ag-grid-angular #agGrid2 style="width: 99%; height: 300px; margin: auto;" class="ag-theme-alpine"
              [rowData]="rowData3" [columnDefs]="columnDefs2" rowSelection="multiple"
              (gridReady)="onGridReady2($event)">
            </ag-grid-angular>
          </div>
          <hr>
          <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Close</button>
        </form>
      </div>
    </div>
  </div>

  <div class="modal fade bd-example-modal-xl mt-5" id="viewSubs" tabindex="-1" role="dialog"
    aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl candidateView">
      <div class="modal-content">
        <form class="center mt-4"
          style="margin: auto; width: 95%; padding: 2px;">
          <div class="form-group">
            <ag-grid-angular #agGrid3 style="width: 99%; height: 300px; margin: auto;" class="ag-theme-alpine"
              [rowData]="rowData2" [columnDefs]="columnDefs3" rowSelection="multiple"
              (gridReady)="onGridReady3($event)">
            </ag-grid-angular>
          </div>
          <hr>
          <button type="button" class="btn btn-outline-success" (click)="onAddSubs()">Add</button>
          <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Cancel</button>
        </form>
      </div>
    </div>
  </div>

  <div class="modal fade bd-example-modal-xl mt-5" id="viewJobDetails" tabindex="-1" role="dialog"
    aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <form class="center mt-4"
          style="margin: auto; width: 95%; padding: 2px;">
          <div class="card border-warning mb-3" style="width: 100%;">
            <div class="card-header"><strong># {{ toViewJob.id }} </strong>   |  <strong> Status: {{ toViewJob.status }}</strong></div>
            <div class="card-body">
              <h4 class="card-title">{{ toViewJob.title }}</h4>
              <h6>Created By: {{ toViewJob.createdBy }} on {{ toViewJob.createdAt }}</h6>
              <h6>Updated At: {{ toViewJob.updatedAt }}</h6>
              <h6>Team: {{ toViewJob.team }}</h6>
              <h6>Manager: {{ toViewJob.manager }}</h6>
              <br>
              <h6>Positions: {{ toViewJob.position }}  |  Submissions: {{ toViewJob.submission }}</h6>
              <p class="card-text"><strong>Description:</strong><br> {{ toViewJob.description }} </p>
            </div>
          </div>
          <hr>
          <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Close</button>
        </form>
      </div>
    </div>
  </div>



<!--
  <div class="navbar navbar-default">
    <div class="navbar-header">
        <a class="navbar-brand" href>Angular2 File Upload</a>
    </div>
</div>

<div class="row">

    <div class="col-md-3">

        <h3>Select files</h3>

        <div ng2FileDrop
             [ngClass]="{'nv-file-over': hasBaseDropZoneOver}"
             (fileOver)="fileOverBase($event)"
             [uploader]="uploader"
             class="well my-drop-zone">
            Base drop zone
        </div>

        Multiple
        <input type="file" ng2FileSelect [uploader]="uploader" multiple  /><br/>

        Single
        <input type="file" ng2FileSelect [uploader]="uploader" />
    </div>

    <div class="col-md-9" style="margin-bottom: 40px">

        <h3>Upload queue</h3>
        <p>Queue length: {{ uploader?.queue?.length }}</p>

        <table class="table">
            <thead>
            <tr>
                <th width="50%">Name</th>
                <th>Size</th>
                <th>Progress</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let item of uploader.queue">
                <td><strong>{{ item?.file?.name }}</strong></td>
                <td *ngIf="uploader.options.isHTML5" nowrap>{{ item?.file?.size/1024/1024 | number:'.2' }} MB</td>
                <td *ngIf="uploader.options.isHTML5">
                    <div class="progress" style="margin-bottom: 0;">
                        <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': item.progress + '%' }"></div>
                    </div>
                </td>
                <td class="text-center">
                    <span *ngIf="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
                    <span *ngIf="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
                    <span *ngIf="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
                </td>
                <td nowrap>
                    <button type="button" class="btn btn-success btn-xs"
                            (click)="item.upload()" [disabled]="item.isReady || item.isUploading || item.isSuccess">
                        <span class="glyphicon glyphicon-upload"></span> Upload
                    </button>
                    <button type="button" class="btn btn-warning btn-xs"
                            (click)="item.cancel()" [disabled]="!item.isUploading">
                        <span class="glyphicon glyphicon-ban-circle"></span> Cancel
                    </button>
                    <button type="button" class="btn btn-danger btn-xs"
                            (click)="item.remove()">
                        <span class="glyphicon glyphicon-trash"></span> Remove
                    </button>
                </td>
            </tr>
            </tbody>
        </table>

        <div>
            <div>
                Queue progress:
                <div class="progress" style="">
                    <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': uploader.progress + '%' }"></div>
                </div>
            </div>
            <button type="button" class="btn btn-success btn-s"
                    (click)="uploader.uploadAll()" [disabled]="!uploader.getNotUploadedItems().length">
                <span class="glyphicon glyphicon-upload"></span> Upload all
            </button>
            <button type="button" class="btn btn-warning btn-s"
                    (click)="uploader.cancelAll()" [disabled]="!uploader.isUploading">
                <span class="glyphicon glyphicon-ban-circle"></span> Cancel all
            </button>
            <button type="button" class="btn btn-danger btn-s"
                    (click)="uploader.clearQueue()" [disabled]="!uploader.queue.length">
                <span class="glyphicon glyphicon-trash"></span> Remove all
            </button>
        </div>

    </div>

</div>

<br><br>

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">Response</div>
            <div class="panel-body">
              {{ response }}
            </div>
        </div>
    </div>
</div>

 -->












</div>
