<div class="container-fluid center">
  <div class="row center">
    <!-- <div class="col-md-2" style="white-space:nowrap; display: contents;">
      <form class="form-inline my-2 my-lg-0" style="white-space:nowrap; display: flex;">
        <a class="nav-link">
          <button type="button" class="btn btn-outline-info btn-sm" (click)="newJob()" data-toggle="tooltip" data-placement="auto" title="Add New Job"><fa-icon [icon]="faPlus"></fa-icon></button>
        </a>
        <a class="nav-link">
          <button type="button" class="btn btn-outline-danger btn-sm" (click)="deleteJob()" data-toggle="tooltip" data-placement="auto" title="Delete Job(s)"><fa-icon [icon]="faMinus"></fa-icon></button>
        </a>
        <a class="nav-link">
          <button type="button" class="btn btn-outline-success ml-4 btn-sm" style="margin: auto;"
            (click)="addSubmission()" data-toggle="tooltip" data-placement="auto" title="Add Submissions"><fa-icon [icon]="faUserPlus"></fa-icon></button>
        </a>
      </form>
    </div> -->
    <div class="col-md-12" style="display: flex;">
      <form [formGroup]="searchForm" (submit)="search()" class="center mt-2" style="margin: auto; width: 800px;">
        <div class="form-group has-success  has-danger" style="display: flex;">
          <div style="margin: auto; width: 90%;">
            <input type="text" class="form-control form-control-sm"
              placeholder="Search by keyword, JobID, JobTitle, Manager, Team, Status or Date" formControlName="search"
              (ngModelChange)="search()" [ngClass]="
              searchForm.get('search').errors &&
              searchForm.get('search').touched ?
              'is-invalid' : searchForm.get('search').valid ? 'is-valid' : ''
            ">
            <div class="invalid-feedback">You can use multiple search seperated by comma, for example: JobTitle,
              Manager, Status, ...
            </div>
          </div>
          <button type="submit" class="btn btn-outline-primary ml-0 btn-sm" style="max-height: 40px;">Search</button>
        </div>
      </form>
    </div>
  </div>
  <span class="badge">
    <button type="button" class="btn btn-outline-info btn-sm" (click)="newJob()" data-toggle="tooltip"
      data-placement="auto" title="Add New Job">
      <fa-icon [icon]="faPlus"></fa-icon>
    </button>
  </span>
  <span class="badge">
    <button type="button" class="btn btn-outline-danger btn-sm" (click)="deleteJob()" data-toggle="tooltip"
      data-placement="auto" title="Delete Job(s)">
      <fa-icon [icon]="faTimes"></fa-icon>
    </button>
  </span>
  <span class="badge ml-2">
    <button type="button" class="btn btn-outline-success btn-sm" style="margin: auto;" (click)="addSubmission()"
      data-toggle="tooltip" data-placement="auto" title="Add Submissions">
      <fa-icon [icon]="faUserPlus"></fa-icon>
    </button>
  </span>
  <div class="row center" style="height: 100%; position: relative;">
    <ag-grid-angular #agGrid style="width: 100%; margin: auto; position: absolute; font: small !important;"
      [ngStyle]="getTableHeight()" class="ag-theme-alpine" [rowData]="rowData" [columnDefs]="columnDefs"
      rowSelection="multiple" (gridReady)="onGridReady($event)" [suppressHorizontalScroll]=false rowHeight='30'
      cellHeight='29' [enableSorting]="true" [enableRangeSelection]="true" [pagination]="true" [paginationPageSize]="25"
      (onGridSizeChanged)="sizeGrid($event)" [statusBar]="true" [pivotPanelShow]="true" [groupIncludeFooter]="true"
      [domLayout]="domLayout" [groupIncludeTotalFooter]="true">
    </ag-grid-angular>
    <div style="color: #ffff; z-index: 100; font-size: small; position: relative; height: 100%;"
      [ngStyle]="getHeight()">Jobs
      selected <strong>{{ rowCount }}</strong>
      <button type="button" class="btn btn-outline-success ml-4 btn-sm ml-3" style="margin: auto;"
        (click)="addSubmission()" data-toggle="tooltip" data-placement="auto" title="Add Submissions">
        <fa-icon [icon]="faUserPlus"></fa-icon>
      </button>
    </div>
  </div>

  <div class="modal fade bd-example-modal-xl mt-5 mb-5 text-center" id="newJob" tabindex="-1" role="dialog"
    aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <h2 class="mt-2" style="color: thistle;">{{!editJobMode? 'New Job' : 'Edit Job'}}</h2>
        <!-- <hr> -->
        <form [formGroup]="newJobForm" (submit)="onNewJob()" class="center"
          style="margin: auto; width: 100%; padding: 20px;">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group has-success has-danger mt-5" style="white-space:nowrap; display: flex;">
                <label for="id" style="color: aliceblue; width: 100px;">ID: </label>
                <input type="number" class="form-control ml-2" placeholder="Job ID" formControlName="id" [ngClass]="
                (newJobForm.get('id').errors &&
                newJobForm.get('id').touched) ||
                (newJobForm.get('id').touched &&
                newJobForm.hasError('exists')) ?
                'is-invalid' : newJobForm.get('id').valid && !newJobForm.hasError('exists') ? 'is-valid' : ''
              ">
                <!-- <div class="invalid-feedback">ID is required!</div> -->
              </div>

              <div class="form-group has-success has-danger mt-1" style="white-space:nowrap; display: flex;">
                <label for="title" style="color: aliceblue; width: 100px;">Title: </label>
                <input type="text" class="form-control ml-2" placeholder="Job Title" formControlName="title" [ngClass]="
                newJobForm.get('title').errors &&
                newJobForm.get('title').touched ?
                'is-invalid' : newJobForm.get('title').valid ? 'is-valid' : ''
              ">
                <!-- <div class="invalid-feedback">Title is required</div> -->
              </div>

              <div class="form-group has-success has-danger mt-1" style="white-space:nowrap; display: flex;">
                <label for="team" style="color: aliceblue; width: 100px;">Team: </label>
                <input type="text" class="form-control ml-2" placeholder="Team" formControlName="team" [ngClass]="
                newJobForm.get('team').errors &&
                newJobForm.get('team').touched ?
                'is-invalid' : newJobForm.get('team').valid ? 'is-valid' : ''
              ">
                <!-- <div class="invalid-feedback">Name of team is required</div> -->
              </div>

              <div class="form-group has-success has-danger mt-1" style="white-space:nowrap; display: flex;">
                <label for="positions" style="color: aliceblue; width: 100px;">Positions: </label>
                <input type="number" class="form-control ml-2" placeholder="# of Positions" formControlName="positions"
                  [ngClass]="
                newJobForm.get('positions').errors &&
                newJobForm.get('positions').touched ?
                'is-invalid' : newJobForm.get('positions').valid ? 'is-valid' : ''
              ">
                <!-- <div class="invalid-feedback">Number of positions is required</div> -->
              </div>

              <div class="form-group mt-1" style="white-space:nowrap; display: flex;">
                <label for="Select1" style="color: aliceblue; width: 100px;">Job Status: </label>
                <select class="form-control ml-2" id="Select1" formControlName="status" placeholder="Active" [ngClass]="
                  newJobForm.get('status').errors &&
                  newJobForm.get('status').touched ?
                  'is-invalid' : ''
                  ">
                  <option>Active</option>
                  <option>Processing</option>
                  <option>Closed</option>
                </select>
                <!-- <div class="invalid-feedback">Please select a status</div> -->
              </div>

              <div class="form-group has-success has-danger mt-1" style="white-space:nowrap; display: flex;">
                <label for="manager" style="color: aliceblue; width: 100px;">Manager: </label>
                <input type="text" class="form-control ml-2" placeholder="Manager" formControlName="manager" [ngClass]="
                  newJobForm.get('manager').errors &&
                  newJobForm.get('manager').touched ?
                  'is-invalid' : newJobForm.get('manager').valid ? 'is-valid' : ''
                  ">
                <!-- <div class="invalid-feedback">Name of manager is required</div> -->
              </div>

              <div class="form-group has-success has-danger mt-1" style="white-space:nowrap; display: flex;">
                <label for="createdBy" style="color: aliceblue; width: 100px;">Created-By: </label>
                <input type="text" class="form-control ml-2" placeholder="Created By" formControlName="createdBy"
                  [ngClass]="
                newJobForm.get('createdBy').errors &&
                newJobForm.get('createdBy').touched ?
                'is-invalid' : newJobForm.get('createdBy').valid ? 'is-valid' : ''
              ">
                <!-- <div class="invalid-feedback">Name of Creator is required</div> -->
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group has-success has-danger">
                <label for="skills" style="color: aliceblue;">Required Skills: </label>
                <textarea rows="5" class="form-control ml-2"
                  placeholder="Skills seperated by comma, skill #1, skill #2,..." formControlName="skills" [ngClass]="
                newJobForm.get('skills').errors &&
                newJobForm.get('skills').touched ?
                'is-invalid' : newJobForm.get('skills').valid ? 'is-valid' : ''
              "></textarea>
                <!-- <div class="invalid-feedback">Sorry, skills is required</div> -->
              </div>
              <div class="form-group has-success has-danger">
                <label for="manager" style="color: aliceblue;">Description: </label>
                <textarea rows="8" class="form-control ml-2" placeholder="Description" formControlName="description"
                  [ngClass]="
                newJobForm.get('description').errors &&
                newJobForm.get('description').touched ?
                'is-invalid' : newJobForm.get('description').valid ? 'is-valid' : ''
              "></textarea>
                <!-- <div class="invalid-feedback">Sorry, description is required</div> -->
              </div>
            </div>
          </div>
          <hr>
          <button mat-raised-button class="btn btn-outline-success" [disabled]="!this.newJobForm.valid"
            type="submit">Save</button>
          <button type="button" class="btn btn-outline-secondary ml-3" data-dismiss="modal">Cancel</button>
        </form>
      </div>
    </div>
  </div>

  <div class="modal fade bd-example-modal-xl mt-5 mb-5 text-center" id="viewCandidate" tabindex="-1" role="dialog"
    aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <h2 class="mt-2" style="color: thistle;">Submissions Details</h2>
        <h4 style="color: thistle;">For Job #: {{ prev?.id || 0 }} - {{ prev?.title || '' }} </h4>
        <form class="center mt-4" style="margin: auto; width: 95%; padding: 2px;">
          <div class="form-group">
            <ag-grid-angular #agGrid2 style="width: 99%; height: 350px; margin: auto;" class="ag-theme-alpine"
              rowHeight='30' cellHeight='29' [rowData]="rowData3" [columnDefs]="columnDefs2" rowSelection="multiple"
              (gridReady)="onGridReady2($event)" [suppressHorizontalScroll]=false [enableSorting]="true"
              [enableRangeSelection]="true" [pagination]="true" [paginationPageSize]="20">
            </ag-grid-angular>
          </div>
          <hr>
          <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Close</button>
        </form>
      </div>
    </div>
  </div>

  <div class="modal fade bd-example-modal-xl mt-5 mb-5 text-center" id="viewSubs" tabindex="-1" role="dialog"
    aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl candidateView">
      <div class="modal-content">
        <h3 class="mt-2" style="color: thistle;">Add Submissions</h3>
        <div class="row">
          <div class="col-md-12">
            <form [formGroup]="searchSubsForm" (submit)="searchSubs()" class="text-center mt-4"
              style="margin: auto; width: 95%; padding: 2px;">
              <div class="form-group has-success has-danger text-center"
                style="display: flex; margin: auto; place-content: center;">
                <input type="text" class="form-control form-control-sm" style="width: 50%;"
                  placeholder="Search by keyword, Name, Phone, Email, Skills" formControlName="search"
                  (ngModelChange)="search()" [ngClass]="
                  searchSubsForm.get('search').errors &&
                  searchSubsForm.get('search').touched ?
                  'is-invalid' : searchSubsForm.get('search').valid ? 'is-valid' : ''
                ">
                <div style="white-space:nowrap; display: flex;">
                  <button type="submit" class="btn btn-outline-primary btn-sm ml-2"
                    style="max-height: 40px;">Search</button>
                    <h6 class="ml-2 mr-2" style="color: thistle; padding-top: 5px;">OR TRY</h6>
                    <button type="button" class="btn btn-outline-warning" data-toggle="tooltip"
                    data-placement="auto" title="Auto match the candidates based on their skills">
                    <fa-icon [icon]="faUserCog"></fa-icon>
                  </button>
                </div>
              </div>
              <div class="form-group">
                <h6 class="mt-2" style="color: white; text-align: start;">Please select candidates:</h6>
                <ag-grid-angular #agGrid3 style="width: 99%; height: 350px; margin: auto; margin-top: 10px;"
                  class="ag-theme-alpine" rowHeight='30' cellHeight='29' [rowData]="rowData2" [columnDefs]="columnDefs3"
                  rowSelection="multiple" (gridReady)="onGridReady3($event)" [suppressHorizontalScroll]=false
                  [enableSorting]="true" [enableRangeSelection]="true" [pagination]="true" [paginationPageSize]="25">
                </ag-grid-angular>
              </div>
            </form>
          </div>
        </div>
        <div class="row">
          <div class="col-md-2" style="align-self: center;">
            <h4 style="color: thistle;">Selected Candidates:</h4>
          </div>
          <div class="col-md-10">
            <ag-grid-angular #agGrid5 style="width: 99%; height: 250px; margin: auto; margin-top: 10px;"
              class="ag-theme-alpine" rowHeight='30' cellHeight='29' [rowData]="rowData5" [columnDefs]="columnDefs5"
              rowSelection="multiple" (gridReady)="onGridReady5($event)" [suppressHorizontalScroll]=false
              [enableSorting]="true" [enableRangeSelection]="true" [pagination]="true" [paginationPageSize]="25">
            </ag-grid-angular>
            <div style="color: #ffff; z-index: 100; font-size: small;">Candidates selected({{ subCount }})</div>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-md-2" style="align-self: center;">
            <h4 style="color: thistle;">Selected Jobs:</h4>
          </div>
          <div class="col-md-10">
            <ag-grid-angular #agGrid4 style="width: 99%; height: 250px; margin: auto; margin-top: 10px;"
              class="ag-theme-alpine" rowHeight='30' cellHeight='29' [rowData]="rowData4" [columnDefs]="columnDefs4"
              rowSelection="multiple" (gridReady)="onGridReady4($event)" [suppressHorizontalScroll]=false
              [enableSorting]="true" [enableRangeSelection]="true" [pagination]="true" [paginationPageSize]="25">
            </ag-grid-angular>
          </div>
        </div>
        <hr>
        <form class="text-center" style="margin: auto; width: 95%; padding: 2px;">
          <button type="button" class="btn btn-outline-success" (click)="onAddSubs()">Add Submissions</button>
          <button type="button" class="btn btn-outline-secondary ml-3" data-dismiss="modal">Cancel</button>
        </form>
      </div>
    </div>
  </div>

  <div class="modal fade bd-example-modal-xl mt-2 mb-5" id="viewJobDetails" tabindex="-1" role="dialog"
    aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <h2 class="mt-2 text-center" style="color: thistle;">Job Details</h2>
        <form class="center mt-4" style="margin: auto; width: 95%; padding: 2px;">
          <div class="card border-warning mb-3" style="width: 100%;">
            <div class="card-header"><strong># {{ toViewJob.id }} </strong> | <strong> Status:
                {{ toViewJob.status }}</strong></div>
            <div class="card-body">
              <h4 class="card-title">{{ toViewJob.title }}</h4>
              <h6>Created By: {{ toViewJob.createdBy }} on {{ toViewJob.createdAt }}</h6>
              <h6>Updated At: {{ toViewJob.updatedAt }}</h6>
              <h6>Team: {{ toViewJob.team }}</h6>
              <h6>Manager: {{ toViewJob.manager }}</h6>
              <br>
              <h6>Positions: {{ toViewJob.position }} | Submissions: {{ toViewJob.submission }}</h6>
              <p class="card-text"><strong>Required Skills:</strong><br> {{ toViewJob.skills }} </p>
              <p class="card-text"><strong>Description:</strong><br> {{ toViewJob.description }} </p>
            </div>
          </div>
          <hr>
          <div class="text-center">
            <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Close</button>
          </div>
        </form>
      </div>
    </div>
  </div>



  <!--
  <div class="navbar navbar-default">
    <div class="navbar-header">
        <a class="navbar-brand" href>Angular2 File Upload</a>
    </div>
</div>

<div class="row">

    <div class="col-md-3">

        <h3>Select files</h3>

        <div ng2FileDrop
             [ngClass]="{'nv-file-over': hasBaseDropZoneOver}"
             (fileOver)="fileOverBase($event)"
             [uploader]="uploader"
             class="well my-drop-zone">
            Base drop zone
        </div>

        Multiple
        <input type="file" ng2FileSelect [uploader]="uploader" multiple  /><br/>

        Single
        <input type="file" ng2FileSelect [uploader]="uploader" />
    </div>

    <div class="col-md-9" style="margin-bottom: 40px">

        <h3>Upload queue</h3>
        <p>Queue length: {{ uploader?.queue?.length }}</p>

        <table class="table">
            <thead>
            <tr>
                <th width="50%">Name</th>
                <th>Size</th>
                <th>Progress</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let item of uploader.queue">
                <td><strong>{{ item?.file?.name }}</strong></td>
                <td *ngIf="uploader.options.isHTML5" nowrap>{{ item?.file?.size/1024/1024 | number:'.2' }} MB</td>
                <td *ngIf="uploader.options.isHTML5">
                    <div class="progress" style="margin-bottom: 0;">
                        <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': item.progress + '%' }"></div>
                    </div>
                </td>
                <td class="text-center">
                    <span *ngIf="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
                    <span *ngIf="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
                    <span *ngIf="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
                </td>
                <td nowrap>
                    <button type="button" class="btn btn-success btn-xs"
                            (click)="item.upload()" [disabled]="item.isReady || item.isUploading || item.isSuccess">
                        <span class="glyphicon glyphicon-upload"></span> Upload
                    </button>
                    <button type="button" class="btn btn-warning btn-xs"
                            (click)="item.cancel()" [disabled]="!item.isUploading">
                        <span class="glyphicon glyphicon-ban-circle"></span> Cancel
                    </button>
                    <button type="button" class="btn btn-danger btn-xs"
                            (click)="item.remove()">
                        <span class="glyphicon glyphicon-trash"></span> Remove
                    </button>
                </td>
            </tr>
            </tbody>
        </table>

        <div>
            <div>
                Queue progress:
                <div class="progress" style="">
                    <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': uploader.progress + '%' }"></div>
                </div>
            </div>
            <button type="button" class="btn btn-success btn-s"
                    (click)="uploader.uploadAll()" [disabled]="!uploader.getNotUploadedItems().length">
                <span class="glyphicon glyphicon-upload"></span> Upload all
            </button>
            <button type="button" class="btn btn-warning btn-s"
                    (click)="uploader.cancelAll()" [disabled]="!uploader.isUploading">
                <span class="glyphicon glyphicon-ban-circle"></span> Cancel all
            </button>
            <button type="button" class="btn btn-danger btn-s"
                    (click)="uploader.clearQueue()" [disabled]="!uploader.queue.length">
                <span class="glyphicon glyphicon-trash"></span> Remove all
            </button>
        </div>

    </div>

</div>

<br><br>

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">Response</div>
            <div class="panel-body">
              {{ response }}
            </div>
        </div>
    </div>
</div>

 -->












</div>
