/* You can add global styles to this file, and also import other style files */
@import '../node_modules/alertifyjs/build/css/alertify.min.css';
@import '../node_modules/alertifyjs/build/css/themes/bootstrap.min.css';

.container-fluid {
 font: x-small !important;
}

html, body {margin: 0; height: 100%; overflow: hidden}
html, body {
  width: 100%;
  height: 100%;
}

body{
  background-color: #202020 !important;
}

.bg-warning {
  background-color: orange !important;
}

.ag-row {
  font-size: 12px !important;
}

.ag-cell {
  line-height: 24px !important;
}

.ag-theme-alpine .ag-header {
  background-color: #686179 !important;
}

.ag-row-even{
  background-color: #92c6db !important;
  color: rgb(0, 0, 0) !important;
}

.ag-row-odd{
  background-color: #e4f1f7 !important;
  color: rgb(0, 0, 0) !important;
}

.ag-root-wrapper {
  background-color: #4b4343 !important;
}

.descriptionCell {
  cursor: pointer !important;
}

.descriptionCell:hover {
  color: #038a03 !important;
}

.card {
  background-color: #acabb6 !important;
  border: 2px solid !important;
}

.ag-paging-panel{
  color: aliceblue !important;
}

.ag-body-horizontal-scroll .ag-body-horizontal-scroll-viewport .ag-body-horizontal-scroll-container {
  display: none !important;
}
/* .ag-header-cell {
  width: fit-content !important;
}

.ag-cell {
  width: fit-content !important;
} */
